<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="referrer" content="no-referrer-when-downgrade" />
  <title>{{- block "title" . }}{{ with .Title }}{{ . }} | {{ end }}{{ .Site.Title }}{{- end }}</title>
  {{- partial "favicon.html" . -}}
  {{- partial "seo_tags.html" . -}}

  {{ with .OutputFormats.Get "rss" -}}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}

  {{ $opts := dict "minify" true }}
  {{ with resources.Get "css/main.css" | css.Build $opts }}
    {{ with . | fingerprint }}
      <link rel="stylesheet"
            href="{{ .RelPermalink }}"
            integrity="{{ .Data.Integrity }}" />
    {{ end }}
  {{ end }}
</head>

<body>
  <header>
    {{- partial "header.html" . -}}
  </header>
  <main>
    {{- block "main" . }}{{- end }}
  </main>
  <footer>
    {{- partial "footer.html" . -}}
  </footer>
</body>
</html>
